<section class="text-center">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="ibox-content m-b-sm border-bottom col-lg-6">
      <form action="">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label class="col-form-label" for="order_id">Documento</label>
              <input type="text" id="order_id" name="order_id" value="" placeholder="Documento" class="form-control">
            </div>
          </div>
          <div class="col-sm-4">
              <button style="margin-top: 32px ;" class="btn btn-primary">Buscar</button>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-form-label" for="date_added">Date added</label>
              <div class="input-group date">
                <input id="date_added" type="date"
                  class="form-control" value="03/04/2014">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-form-label" for="date_modified">Date modified</label>
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_modified" type="text"
                  class="form-control" value="03/06/2014">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-form-label" for="amount">Amount</label>
              <input type="text" id="amount" name="amount" value="" placeholder="Amount" class="form-control">
            </div>
          </div>
        </div>
      </form>


    </div>
    <div class="col-lg-3"></div>


  </div>
</section>
