<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#">
        <div class="collapse navbar-collapse" id="navbarExample01">
          <img style="height:40px ;" src="../../../assets/imagenes/LOGO DIBANET CIRCULO.png" alt="">
          <h3 style="text-align:center; color: aliceblue;">Portal de Pagos Dibranet</h3>
         </div>
      </a>

      <ul class="nav navbar-top-links navbar-right">
        <li>
          <button (click)="cerrarSesion()" class="btn btn-danger btn-rounded" role="button">
            <i class="fa fa-sign-out-alt"></i> Salir
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar -->
</header>
