<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div style="text-align:center ;" class="card-body">
        <img src="../../../assets/imagenes/4564877.png" alt="">
        <br>
        <br>
        <button routerLink="pagos" type="button" class="btn btn-primary">Pagos</button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div style="text-align:center ;" class="card-body">
        <img src="../../../assets/imagenes/cliente.jpg" alt="">
        <br>
        <br>
        <button routerLink="clientes" type="button" class="btn btn-primary">Clientes</button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div style="text-align:center ;" class="card-body">
        <img src="../../../assets/imagenes/3201052.png" alt="">
        <br>
        <br>
        <button routerLink="log-pagos" type="button" class="btn btn-primary">Registro de pagos</button>
      </div>
    </div>
  </div>


</div>
