<section class="text-center">
  <div style="margin-bottom: 20px ;">
    <button (click)="btnCrearCliente()" class="btn btn-primary">Crear Cliente</button>
  </div>
  <div *ngIf="!edit" class="row">
    <div class="col-lg-1"></div>
    <div class="ibox-content m-b-sm border-bottom col-lg-10">
      <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="Buscar...">
      <table class="footable table table-striped " data-filter=#filter>
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo de Documento</th>
            <th>Documento</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Megas</th>
            <th>Modalidad</th>
            <th>Fecha de Corte</th>
            <th>Fecha de Instalacion</th>
            <th>Observaciones</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let cliente of clientes; let indice=index">
            <td>{{indice + 1}}</td>
            <td>{{cliente.nombres}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>{{cliente.tipoDocumento}}</td>
            <td>{{cliente.documento}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.correo}}</td>
            <td>{{cliente.megas}}</td>
            <td>{{cliente.modalidad}}</td>
            <td>{{cliente.fechaCorte}}</td>
            <td>{{cliente.fechaInstalacion}}</td>
            <td>{{cliente.observacion}}</td>
            <td><button (click)="editCliente(cliente)" class="btn btn-info">Editar</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div *ngIf="edit" class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="ibox" id="ibox">
        <div class="ibox-title">
          <h5>Editar Cliente</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12 b-r">
              <form>
                <div class="row">
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Correo</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Tipo Documento</label>
                    <div class="form-group">
                      <select formControlName="rol" class="form-select">
                        <option value="">CC</option>
                        <option value="">NIT</option>
                        <option value="">CE</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Documento</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Modalidad</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Dirección</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Estrato</label>
                    <select formControlName="rol" class="form-select">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Megas</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Fecha de Corte</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label class="form-label">Fecha de Instalación</label>
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary m-b">Crear</button>
                      &nbsp;
                      <button  class="btn btn-danger m-b"
                        type="button"><strong>Volver</strong></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</section>
